<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WpfApp5.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WpfApp5.Properties.Settings>
            <setting name="Email" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoLogin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DiscordRPC" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Path" serializeAs="String">
                <value />
            </setting>
            <setting name="bUseDPE" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bUseEOR" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Loggedin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LoginKey" serializeAs="String">
                <value />
            </setting>
            <setting name="ExitPath" serializeAs="String">
                <value />
            </setting>
        </WpfApp5.Properties.Settings>
    </userSettings>
</configuration>